@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --cor-1: rgba(9, 33, 38, 1);
  --cor-2: rgba(1, 35, 64, 1);
  --cor-4: rgba(2, 94, 115, 1);
  --cor-5: rgba(193, 193, 193, 1);
  --cor-6: rgba(251, 251, 253, 1);
  --cor-7: rgba(122, 122, 122, 1);
  --cor-8: rgba(22, 122, 206, 1);
  --sombra-daora: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --sombra-forte: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --sombra-padr-o: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}